/* Algemene reset */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    color: #f5f5f5;
    min-height: 100vh;
    position: relative;
    background: url('../img/achtergrond.png') no-repeat center center fixed;
    background-size: cover;
    background-color: black; /* fallback voor trage laadtijd */
    z-index: 1;
}

.container {
    text-align: center;
    background: #2c2c2c7b;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    max-width: 1920px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid #f5f5f5;
}

.socials a, .projects a {
    color: #97c6f5;
    text-decoration: none;
    margin: 5px 0;
    background-color: rgba(32, 42, 45, 0.525);
    border-radius: 3px;
    border: none;
    padding-left: 4px;
    padding-right: 4px;
}

.socials a:hover, .projects a:hover {
    text-decoration: underline;
}

.bio {
    margin: 0;
}

h1 {
    font-family: Garamond, serif;
}

.bio {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    line-height: 1.6;
}

header {
    padding-top: 40px;
}

@media (max-width: 768px) {
    .container {
        margin-left: 10px;
        margin-right: 10px;
        padding: 15px;
    }

    .profile-img {
        max-width: 100%;
        height: auto;
    }


    h1 {
        font-size: 24px;
    }

    header {
        padding-top: 20px;
    }

    .bio {
        padding: 5px 10px;
    }
}